{% extends "body.html" %}
{% block content %}
{% block type1 %}
<div class="container">
    <div class="row mt-4">
        <ul class="nav nav-tabs" id="tabs" role="tablist">
            <li class="nav-item active" role="presentation">
                <a class="nav-link active" id="create-tab" data-bs-toggle="tab" data-bs-target="#create" aria-controls="create">Созданные Заявки</a>
            </li>
            {% if not perms.front.contract_browse %}{% else %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="appoint-tab" data-bs-toggle="tab" data-bs-target="#appoint" aria-controls="appoint">Выполняющие Заявки</a>
            </li>
            {% endif %}
        </ul>
        </div>
        <div class="tab-content" id="tabsContent">
            <div class="tab-pane fade show active" id="create" role="tabpanel" aria-labelledby="home-tab">
                {% block detail_contract %}
                {% include "contract_list_my_created.html" %}
                {% endblock %}
            </div>
            {% endblock type1 %}

            {% block type2 %}
            <div class="tab-pane fade" id="appoint" role="tabpanel" aria-labelledby="profile-tab">
                {% if not contracts %}
            <div class="row mt-5">
                <div class="col">
                    <h5>Список активных заявок - пуст</h5>
                </div>
            </div>
                {% endif %}
                {% for contract in contracts %}
                <div class="row border mt-3 p-2">
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="mt-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Заявка №{{ contract.pk }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-end mt-1">
                                <h6> {{ contract.create_date }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mt-2">
                                    <strong>ФИО: </strong>{{ contract.name }}.
                                    <strong>Адрес: </strong>{{ contract.city }}
                                    ул. {{ contract.address }}.
                                    <strong>Телефон: </strong>{{ contract.phone }}.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mt-2">
                                <strong>Состояние: </strong>{{ contract.get_state_display }}.
                                <strong>Статус: </strong>{{ contract.get_status_display }}
                                <strong>Офисное обращение:</strong>
                                {% if contract.from_office %}<font size="4" color="#FF0000" >да</font>{% else %}Нет{% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="mt-2">
                                <strong>Создан: </strong>
                                {% if contract.created_by %}{{ contract.created_by }} {% else %} Неизвестно{% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="mt-2">
                                <strong>Выполняющий: {{ contract.user.first_name }} {{ contract.user.last_name }} </strong>
                            </div>
                        </div>
                        <div class="row mb-1 p-2">
                            <div class="col">
                                <a class="btn btn-secondary"
                                   href="{% url 'contract_consider' contract.id %}"
                                   role="button">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endblock type2 %}
            </div>
        </div>
    </div>
</div>
{% endblock %}