{% extends "body.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <style>
        ul {
            list-style-type: none;
        }
    </style>
    <div class="container justify-content-center" style="margin-top: 1%">
        <div class="container">
            <div class="row">
                <center><h2>Фиксация Обращения</h2></center>
            </div>
            <form action="{% url 'contract_new' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="name" class="form-label">Фамилия Имя Отчество</label>
                        <div class="input-group mb-3 ">
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                    </div>
                    <div class="col">
                        <label for="phone" class="form-label">Телефон</label>
                        <div class="input-group mb-3">
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="address" class="form-label">Город</label>
                        <div class="input-group mb-3">
                            {{ form.city }}
                            {{ form.address.errors }}
                        </div>
                    </div>
                    <div class="col">
                        <label for="address" class="form-label">Адрес клиента</label>
                        <div class="input-group mb-3">
                            {{ form.address }}
                            {{ form.address.errors }}
                        </div>
                        <div id="addressFound" class="invalid-feedbackMe">
                            <div class="mb-2">
                            Найдены заявки с похожими параметрами
                            <button type="button" class="btnMe" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Посмотреть результаты
                            </button>
                                </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialogMe">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Результаты Поиска</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-body">
                                           <strong id="someId"></strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
                <!-- <div class="form-check form-check-inline">
                            {{ form.from_office }}
                            {{ form.from_office.errors  }}
                        <label class="form-check-label" for="inlineCheckbox1">Офисное Обращение</label>
                </div> -->
                <div class="row p-3">
                    <div class="col-sm">
                        <label for="name" class="form-label">Услуга интересующая абонента:</label>
                        {% for checkbox in form.priority_service %}
                            <div class="checkbox mt-1 ml-2">
                                <label>{{ checkbox.tag }} {{ checkbox.choice_label }}</label>
                            </div>
                        {% endfor %}
						{{ form.priority_service.errors }}
                    </div>
                    <div class="col-sm">
                        <div>
                            <label for="name" class="form-label">Тип обращения клиента:</label>
                            <div class="control">
                                {{ form.from_office }}
								{{ form.from_office.errors }}
                                <label class="radio">Офисное обращение</label>
                            </div>
                        </div>
                    </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="address" class="form-label">Комментарий</label>
                        <div class="input-group mb-3">
                            <textarea name="comment" id="comment" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Передать в обработку</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<script>

        const addressFoundWarning = document.querySelector("#addressFound")
        const address = document.querySelector("#id_address")

        const target = document.querySelector("#someId") // куда пишем
        address.addEventListener("keyup", (e) => {
            fetch("/check/address/?text=" + address.value).then((res) => {
                res.json().then((r) => {
                    const found = r.found
                    const data = r.data

                    target.innerHTML = ""
                    data.forEach((v) => {
                        target.innerHTML +=
                        `
                 <div class="container">
                     <div class="row border mt-2 p-4">
                         <div class="col">
                             <div class="row align-items-center">
                                 <div class="col">
                                     <div class="mt-2">
                                         <div class="input-group">
                                             <span class="input-group-text">Заявка №${v.pk}</span>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col text-end mt-1">
                                     <h6></h6>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col">
                                     <div class="text-sizeMe mt-4">
                                         <strong> ФИО: </strong>  ${v.fields.name}.
                                         <strong> Адрес: </strong> ${v.fields.city} ${v.fields.address}.
                                         <strong> Телефон: </strong> ${v.fields.phone}.
                                     </div>
                                 </div>
                             </div>
                         </div>
                 	</div>
                 </div>
                        `
                    })

                    addressFoundWarning.style.display = found ? "block" : "none"
                })
            })
        })
    </script>
{% endblock %}